<div>
	<app-nav-bar></app-nav-bar>
	<br />

	<app-cart [cart]="cart" (oncartchange)='cartChangeHandler($event)'></app-cart>

	<br />

	<div class="container">

		<div class="list-group-item" *ngFor="let item of items">
			<app-food-item id="{{item.id}}" name="{{item.name}}" price="{{item.price}}" description="{{item.description}}" imgPath="{{item.imgPath}}"
			[itemBought]="getQuantity(item.id)" (buyEvent)="buyEventHandler($event)" (unbuyEvent)="unbuyEventHandler($event)">
			</app-food-item>
		</div>
	</div>



</div>